  /// Returns a new [{{{classname}}}] instance.
  {{{classname}}}({
  {{#allParentVars}}
    {{!
        A field is required in Dart when it is
        required && !defaultValue in OAS
    }}
    super.{{{name}}}{{#defaultValue}} = {{#isEnum}}{{^isContainer}}const {{{enumName}}}._({{/isContainer}}{{/isEnum}}{{{.}}}{{#isEnum}}{{^isContainer}}){{/isContainer}}{{/isEnum}}{{/defaultValue}},
  {{/allParentVars}}
  {{#vars}}
    {{!
        A field is required in Dart when it is
        required && !defaultValue in OAS
    }}
    this.{{{name}}}{{#defaultValue}} = {{#isEnum}}{{^isContainer}}const {{{enumName}}}._({{/isContainer}}{{/isEnum}}{{{.}}}{{#isEnum}}{{^isContainer}}){{/isContainer}}{{/isEnum}}{{/defaultValue}},
  {{/vars}}
  });
